:root {
    --primary-color: linear-gradient(#AECEFF 0%, #5884C7 100%);
    --primary-text-color: #1A1A1A;
}

* {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  nav button {
    flex: 0 0 auto;
    padding: 12px 20px;
  }
}


body {
  margin: 0;
  padding: 0;
  font-family:  "Jolly Lodger", Arial, sans-serif;
  background: var(--primary-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Splashscreen */
#splash {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

.logo {
  font-size: 42px;
  animation: fadeIn 2s ease-in-out;
  color: #1A1A1A;
}

.hidden {
  display: none;
}

main#content {
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

/* Navigation */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  background: #222;
  padding: 10px;
}

nav button {
  flex: 1 1 30%;
  min-width: 90px;
  text-align: center;
  background: #333;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
}

nav button:hover {
  background: #444;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
